/**
We are to utilize CSS to style the page with a background color,
> green start button,
> red stop button,
> yellow pause button.
> effect when timer reaches 1 minute, change the timer text color to red.
> and add a background color with rounded corners of 5px to make it stand out from the apple.
> style each button with the Roboto font family, white font color,
> add a black border hovering effect on the buttons.
> style the clock with the Orbitron font.
> When hovered over, the clock should turn yellow; otherwise, it should be white.
*/

body {
    background-color: #021F31;
} /* Setting Background colour */

.navbar {
    background-color: yellow;
    position: sticky; /*It'll stay at the top of the page*/
}

p{
    color: white;
    font-weight: bold;
    font-family: Orbitron;

} /* Making all timer elements appear the same */

.time{
    border-radius: 5px;
    background: #FF5146;
}

#appleSVG{
    display: flex;
    justify-content: center;
    position: relative;

} /* Creating a flexbox for the apple graphic */

#timerSection{
    display: flex;
    position: absolute;
    top: 60%;
    left: 51%;
    scale: 280%;
    transform: translate(-50%, -50%);

} /* Creating a flexbox for the timer */
/* Then we use the absolute position to place it within the apple, and translate centers the section after the move*/

#timerSection:hover > p{ /* Syntax for reffering to all paragraph elements within the timer section*/
    color: yellow;
} /* now timer text will be yellow while you hover over it*/

#buttonSection{
    display: flex;
    position: absolute;
    top: 60%;
    left: 46%;
    transform: translate(-50%, -50%);

} /* Creating a flexbox for buttons */
/* Similar craic to timerSection*/

.button{
    color: white;
    font-weight: bold;
    padding: 5px 10px; /* Makes buttons chunkier*/
    margin: 5px; /* Puts a bit of space between the buttons*/
    font-family: Roboto;

} /* Using button class to efficiently standardise appearance */

.button:hover{
    border: 4px solid #021F31;
} /* now buttons will get a border when you hover above them*/

#start{
    background-color: green;

} /* Using ID to make start button green */

#pause{
    background-color: yellow;
    color: black;

} /* Using ID to make pause button yellow, and over-riding white text as it's less visable */

#stop{
    background-color: red;

} /* Using ID to make stop button red */
