/**
We are to utilize CSS to style the page with a background color,
green start button,
red stop button,
yellow pause button.
and when the timer reaches 1 minute, change the timer text color to red.
*/

body {
    background-color: #021F31;
} /* Setting Background colour */


p{
    color: white;
    font-weight: bold;

} /* Making all timer elements appear the same */

#appleSVG{
    display: flex;
    justify-content: center;
    position: relative;

} /* Creating a flexbox for the apple graphic */

#timerSection{
    display: flex;
    position: absolute;
    top: 60%;
    left: 50%;
    scale: 300%;
    transform: translate(-50%, -50%);

} /* Creating a flexbox for the timer */

#buttonSection{
    display: flex;
    position: absolute;
    top: 60%;
    left: 46%;
    transform: translate(-50%, -50%);

} /* Creating a flexbox for buttons */

#start{
    background-color: green;

} /* Using ID to make start button green */

#pause{
    background-color: yellow;
    color: black;

} /* Using ID to make pause button yellow, and over-riding white text as it's less visable */

#stop{
    background-color: red;

} /* Using ID to make stop button red */

.button{
    color: white;
    font-weight: bold;
    padding: 5px 10px; /* Makes buttons chunkier*/
    margin: 5px; /* Puts a bit of space between the buttons*/

} /* Using button class to efficiently standardise appearance */

#buttonSection{
    display: flex;
    justify-content: center;

} /* Creating a flexbox for buttons */


